.expectation-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .expectation-card {
    width: 350px;
    height: 40vh;
    margin-bottom: 20px; 
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .expectation-card h4 {
    margin-top: 0;
  }
  
  .expectation-card ul {
    padding-left: 20px;
  }
  
  .expectation-card li {
    list-style-type: disc;
  }
  